<!DOCTYPE html>
<html>
<head>
    <title>내만사</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
<body>


  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">메인</a> <!-- href = ""에 html파일명을 적어주면 해당 html파일명으로 페이지가 이동된다.-->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/money">돈뻥</a>
      </li>
      <!--jinja 템플릿 이용 -->
      {% if session['email'] %} 
      <li class="nav-item">
      <a class="nav-link" href="/logout">로그아웃</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">회원가입</a>
      </li>
      {% endif %}
  
   
  
    </ul>
  </nav>

</nav>
<h2>내게 돈을 보여죠</h2>
<form action="/show" method= "POST"> <!-- submit 버튼을 누를시 show로 이동됨 method에 아무것도 없을때는 get 취급-->
  <label for="fname">돈을 입력하시오</label><br>
  <input type="text" id="money" name="money"> <!-- name에 있는것이 키가됨 !-->
  <input type="submit" value="쇼미더머니">
</form> 

<p>돈을 입력해서 버튼을 누르면 어떤일이 벌어질까?</p>


</body>
</head>
</html>
